<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>사용자 정보</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

    <script>

        $(document).ready(function(){

            var loginToken = sessionStorage.getItem('loginToken')

            if(loginToken==null){
                alert('로그인을 해 주세요')
                location.href='/login'
                return
            }
            $('#userBtn').click(function(){

                var email = $('#email').val()

                if(!email) return

                $.ajax({

                    url:'/listInfo',
                    type:'post',
                    data:{
                        email:email
                    },
                    success:function(data){

                        var str = "";

                        for(var i=0;i<data.res_list.length;i++){

                            str += "user_seq_no : " + data.user_seq_no + "<br/>"
                            str += "fintech_use_num : " + data.res_list[i].fintech_use_num + "<br/>"
                            str += "account_alias : " + data.res_list[i].account_alias + "<br/>"
                            str += "bank_name : " + data.res_list[i].bank_name + "<br/>"
                            str += "account_holder_name : " + data.res_list[i].account_holder_name + "<br/>"
                            str += "account_num_masked : " + data.res_list[i].account_num_masked + "<br/>"

                        }

                        $('#resultDiv').html(str)
                    }
                })
            })
        })

    </script>

</head>
<body>
    <h1><%=title%></h1>
    <div><input type="email" id="email" placeholder="이메일"/></div>
    <button id="userBtn">사용자 계좌정보</button>
    <br/>
    <br/>
    <div id="resultDiv"></div>
</body>
</html>